// 主色值
$Main-color: #3ECCB5;
$Light-Main-color: rgb(84, 211, 190); // 主色值 hover
$Dark-Main-color: #3ECCB5; // 主色值 active

// orange
$Orange-color: #ff9900;


// 商务：主色值
$Primary-color: #2d8cf0; 
$Light-Primary-color: #5cadff; // 主色值 hover
$Dark-Primary-color: #2b85e4; // 主色值 active
